{% load static %}

<h2>로그인 (STEP1: 세션 로그인)</h2>

<input id="username" placeholder="username">
<input id="password" placeholder="password" type="password">
<button id="loginBtn">로그인</button>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!--항상 이 코드는 CDN 다음에 등장-->
<script src="{% static 'todo/api.js' %}"></script>


<script>
document.addEventListener("DOMContentLoaded", () => {


  // 로그인 버튼 클릭 이벤트
  document.getElementById("loginBtn").addEventListener("click", async () => {
    try {

      // 입력창에서 username과 password 값 가져오기
      const username = document.getElementById("username").value;
      const password = document.getElementById("password").value;

      // 사용자 입력 데이터를 서버로 전송
      await api.post("/api/login/", { username, password });

      alert("로그인 성공");
      window.location.href = "/todo/list/";

    } catch (err) {
      console.log(err.response?.data || err.message);
      alert("로그인 실패");
    }
  });

});
</script>
