{% extends "auth_base.html" %}
{% load static %}

{% block title %}로그인{% endblock %}

{% block content %}
<!-- 로그인 화면 카드 영역 -->
<section class="auth-card">
  <h2>로그인</h2>

  <!-- 사용자 이름 입력 -->
  <input id="username" placeholder="username">

  <!-- 비밀번호 입력 -->
  <input id="password" placeholder="password" type="password">

  <!-- 로그인 버튼 -->
  <button id="loginBtn">로그인</button>

  <!-- 회원가입 페이지 이동 링크 -->
  <p style="margin-top:12px;">
    아직 계정이 없나요? <a href="/signup-page/">회원가입</a>
  </p>
</section>
{% endblock %}

{% block scripts %}
<!--항상 이 코드는 CDN 다음에 등장-->
<script src="{% static 'todo/api.js' %}"></script>


<script>
document.addEventListener("DOMContentLoaded", () => {


  // 로그인 버튼 클릭 이벤트
  document.getElementById("loginBtn").addEventListener("click", async () => {
    try {

      // 입력창에서 username과 password 값 가져오기
      const username = document.getElementById("username").value;
      const password = document.getElementById("password").value;

      // 사용자 입력 데이터를 서버로 전송
      await api.post("/api/login/", { username, password });

      alert("로그인 성공");
      window.location.href = "/todo/list/";

    } catch (err) {
      console.log(err.response?.data || err.message);
      alert("로그인 실패");
    }
  });

});
</script>
{% endblock %}
