{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <h2>Create a New Todo</h2>
    <div>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name">
    </div>

    <div>
      <label for="description">Description:</label>
      <textarea name="description" id="description">
      </textarea>
    </div>

    <div>
      <label for="complete">Complete:</label>
      <input type="checkbox" name="complete" id="complete">
    </div>

    <div>
      <label for="exp">Experience Points:</label>
      <input type="number" name="exp" id="exp" min="0">
    </div>

    <button type="submit" id="todoCreate">생성</button>
    <button class="todoHome">홈으로</button>
</div>

<!-- axios: fetch보다 간편한 HTTP 요청 라이브러리 -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'todo/api.js' %}"></script>

<script>

const homeBtn = document.querySelector(".todoHome");

homeBtn.addEventListener("click", () => {
    window.location.href = "{% url 'todo:list' %}";
  });

document.getElementById("todoCreate").addEventListener("click", async () => {
  try {
    // 기존 API주소 (todo/api/create/를 ViewSet API주소로 변경)
    const res = await api.post("todo/viewsets/view/", {
      name: document.getElementById("name").value,
      description: document.getElementById("description").value,
      complete: document.getElementById("complete").checked,
      exp: Number(document.getElementById("exp").value || 0),  // 없으면 0
    });

    console.log(res.data);
    window.location.href = "/todo/list/";

  } catch (err) {
    console.error(err.response?.data || err.message);
    alert("생성 중 오류가 발생했습니다.");
  }
});
</script>
{% endblock %}
